body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: #fffeff;
}

.nav {
  padding: 28px;
}

.nav__logo {
  width: 96px;
}

.image--desktop {
  display: none;
}

.image--mobile {
  width: 100%;
  margin-bottom: 64px;
}

.hero__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title {
  font-weight: 300;
  font-size: 42px;
  line-height: 1.1;
  color: hsl(0, 36%, 70%);
  letter-spacing: 10px;
}

.content__title--black {
  display: block;
  color: black;
  font-weight: 500;
  text-align: center;
}

.content__text {
  color: hsl(0, 36%, 70%);
  margin-top: 24px;
  line-height: 1.5;
  padding: 0px 24px;
}

.content__search {
  padding-top: 36px;
  position: relative;
  width: fit-content;
}

.input {
  border-radius: 50px;
  border: 0.5px solid hsl(0, 36%, 70%);
  padding: 16px;
  width: 256px;
}

.input::placeholder {
  color: hsl(0, 36%, 70%);
}

.button {
  border-radius: 50px;
  padding: 10px;
}

.search__button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
